@media (min-width: 1199.98px){/*ЭТО НАВСЯКИ СЛУЧАЙ ДЛЯ НЕГО УЖЕ ЕСТЬ СТИЛИ В САМОМ CSS*/
  
}
@media (min-width: 992px) and (max-width: 1199px) {
.popup-window{
  width: 88% !important;
  top: 35px !important;
  margin-left: -28px !important;
}
.siu{
  font-size: 18px !important;
}
.popup-window-content{
  font-size: 10px;
}
.left-detail{
  font-size: 13px !important;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .popup-window-content{
   display: none;
  }
  .popup-window{
    margin-left: -36px !important;
    width: 90% !important;
  }
  .siu{
    font-size: 14px !important;
  }
  .left-detail{
    font-size: 10px !important;
  }
  .order-btn{
    font-size: 10px;
    width:93px ;
    line-height: 10px;
    
  }
  .owl-carousel.simple-arrows > .owl-controls .owl-next,
  .owl-carousel.simple-arrows > .owl-controls .owl-prev {
    background: none;
  }
}

@media (min-width: 565px) and (max-width: 767px) {
  .popup-window-content{
    display: none !important; 
   }
   .popup-window{
    margin-left: -20px !important;
    width: 85% !important;
    bottom: 35px !important;
  }
  .siu{
    font-size: 15px !important;
  }
  .owl-carousel.simple-arrows > .owl-controls .owl-next,
   .owl-carousel.simple-arrows > .owl-controls .owl-prev {
     background: none;
   }
   .left-detail{
    font-size: 11px !important;
  }
  .order-btn{
    font-size: 10px;
    width:84px ;
    line-height: 10px;
    
  }
}
@media (min-width: 480px) and (max-width: 564px) {
  .popup-window-content{
    display: none !important; 
   }
   .popup-window{
    margin-left: -29px !important;
    width: 90% !important;
    bottom: 15px !important;
  }
.siu{
     font-size: 13px !important;
   } 
   .left-detail{
     font-size: 10px !important;
   }
   .order-btn{
     font-size: 8px;
     width:70px ;
     line-height: 9px;
     
   }
   .owl-carousel.simple-arrows > .owl-controls .owl-next,
   .owl-carousel.simple-arrows > .owl-controls .owl-prev {
     background: none;
   }
}

@media (min-width: 380px) and (max-width: 479px) {
.siu{
  font-size: 10px !important;
}
.popup-window-content{
  display: none;
}
.owl-carousel.simple-arrows > .owl-controls .owl-next,
.owl-carousel.simple-arrows > .owl-controls .owl-prev {
  background: none;
}
.popup-window{
  width: 79% !important;
   margin-left: -48px !important;
}
.left-detail{
  font-size: 8px !important;
}
.order-btn{
  font-size: 9px;
  width:79px ;
  line-height: 9px;
  
}
.popup-window{
  margin-left: -36px !important;
  width: 100% !important;
  bottom: -50px !important;
}
}
@media (min-width: 360px) and (max-width:379px) {
  .popup-window-content{
    display: none;
  }
  .order-btn{
    font-size: 8px;
    width:72px ;
    line-height: 9px;
    
  }
  .siu{
    font-size: 10px !important;
   
  }

  
  .left-detail{
    font-size: 9px !important;
    line-height: 14px;
  }
  .owl-carousel.simple-arrows > .owl-controls .owl-next,
.owl-carousel.simple-arrows > .owl-controls .owl-prev {
  background: none;
}
.popup-window{
  width: 100% !important;
  margin-left: -35px;
  bottom: -80px !important;
}

.popup-window-detail{
  height: 60%;
  
}
}
  